@using ClassLibrary1.ViewsModels
@using EntityFrameworkExercise.Model
@using WebApplication1.helper

@{
    Layout = null;

    var fakulteti = (List<ComboBoxVM>) (ViewData["fakultetiKey"]);
    var opstine = (List<ComboBoxVM>) (ViewData["opstineKey"]);
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DodajStudentaForma</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-solar.css" />

    <style>
        input, select {
            width: 100%;
        }
    </style>
</head>
<body>

<form style="margin: 20px;" action="/student/dodaj" class="form-group">
    <table >
        <tr>
            <td>
                <label>Ime</label>
            </td>
            <td> <input type="text" name="Ime" /></td>
        </tr>
        <tr>
            <td>
                <label>Prezime</label>
            </td>
            <td> <input type="text" name="Prezime" /></td>
        </tr>
        <tr>
            <td>
                <label>Datum rodjenja</label>
            </td>
            <td>
                <input type="datetime-local" name="DatumRodjenja" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Opstina rodjenja ID</label>
            </td>
            <td>
                @*<select name="OpstinaRodjenjaID">
                    <option value="" disabled selected>Opstina rodjenja</option>
                    @foreach (var item in opstine)
                    {
                        <option value="@item.ID">@item.Opis</option>
                    }
                </select>*@
                @HtmlFormaAlati.GenerisiComboBox("OpstinaRodjenjaID", opstine)
            </td>
        </tr>
        <tr>
            <td>
                <label>Opstina prebivalista ID</label>
            </td>
            <td>
                @*<select name="OpstinaPrebivalistaID">
                    <option value="" disabled selected>Opstina prebivalista</option>
                    @foreach (var item in opstine)
                    {
                        <option value="@item.ID">@item.Opis</option>
                    }
                </select>*@
                @HtmlFormaAlati.GenerisiComboBox("OpstinaPrebivalistaID", opstine)
            </td>
        </tr>
        <tr>
            <td>
                <label>Fakultet ID</label>
            </td>
            <td>
                @*<select name="FakultetID">
            <option value="" disabled selected>Fakultet</option>
            @foreach (var item in fakulteti)
            {
                <option value="@item.ID">@item.Opis</option>
            }
        </select>*@
                @HtmlFormaAlati.GenerisiComboBox("FakultetID", fakulteti)
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" type="submit">Dodaj</button>
            </td>
        </tr>
    </table>
</form>
<a href="/student" style="text-decoration: none; color: blueviolet;font-size: 20px">  <--- Vrati se na početnu</a>
</body>
</html>
