@using ClassLibrary1.ViewsModels
@using EntityFrameworkExercise.Model
@using WebApplication1.helper

@{

    var fakulteti = (List<ComboBoxVM>) (TempData["fakultetiKey"]);
    var opstine = (List<ComboBoxVM>) (TempData["opstineKey"]);
    var student= (Student) (TempData["studentKey"]);
    
}


<form style="margin: 20px;" action="/student/dodaj" class="form-group">
    <table>
        <tr>
            @*<td>
                <label>ID</label>
            </td>*@
            <td> <input type="text" name="studentID" value="@student.ID" hidden/></td>
        </tr>
        <tr>
            <td>
                <label>Ime</label>
            </td>
            <td> <input type="text" name="Ime" value="@student.Ime" /></td>
        </tr>
        <tr>
            <td>
                <label>Prezime</label>
            </td>
            <td> <input type="text" name="Prezime" value="@student.Prezime"/></td>
        </tr>
        <tr>
            <td>
                <label>Datum rodjenja</label>
            </td>
            <td>
                <input type="datetime" name="DatumRodjenja" value="@student.DatumRodjenja"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Opstina rodjenja ID</label>
            </td>
            <td>
                @*<select name="OpstinaRodjenjaID">
                    <option value="" disabled selected>Opstina rodjenja</option>
                    @foreach (var item in opstine)
                    {
                        <option value="@item.ID">@item.Opis</option>
                    }
                </select>*@
                @HtmlFormaAlati.GenerisiComboBox("OpstinaRodjenjaID", opstine, student.OpstinaRodjenjaID)
            </td>
        </tr>
        <tr>
            <td>
                <label>Opstina prebivalista ID</label>
            </td>
            <td>
                @*<select name="OpstinaPrebivalistaID">
                    <option value="" disabled selected>Opstina prebivalista</option>
                    @foreach (var item in opstine)
                    {
                        <option value="@item.ID">@item.Opis</option>
                    }
                </select>*@
                @HtmlFormaAlati.GenerisiComboBox("OpstinaPrebivalistaID", opstine, student.OpstinaPrebivalistaID)
            </td>
        </tr>
        <tr>
            <td>
                <label>Fakultet ID</label>
            </td>
            <td>
                @*<select name="FakultetID">
                    <option value="" disabled selected>Fakultet</option>
                    @foreach (var item in fakulteti)
                    {
                        <option value="@item.ID">@item.Opis</option>
                    }
                </select>*@
                @HtmlFormaAlati.GenerisiComboBox("FakultetID", fakulteti, student.FakultetID)
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" type="submit">Dodaj</button>
            </td>
        </tr>
    </table>
</form>
<a href="/student" style="text-decoration: none; color: blueviolet;font-size: 20px">  << Vrati se na početnu</a>
