@using EntityFrameworkExercise.Model
@using Microsoft.EntityFrameworkCore
@model List<ClassLibrary1.ViewsModels.Student.StudentiPrikaziVM>


<table class="table table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>ECTS</th>
            @*<th>Datum rodjenja</th>
        <th>Opstina rodjenja</th>
        <th>Opstina prebivalista</th>
        <th>Fakultet</th>*@
            <th>Delete</th>
            <th>Edit</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ID</td>
            <td>@item.Ime</td>
            <td>@item.Prezime</td>
            <td>@item.Ects</td>
            @*<td>@item.DatumRodjenja</td>
        <td>@item.OpstinaRodjenja.Naziv</td>
        <td>@item.OpstinaPrebivalista.Naziv</td>
        <td>@item.Fakultet.Naziv</td>*@
            <td><a href="/student/obrisistudenta?id=@item.ID" class="btn btn-warning" style="text-decoration: none; color: azure;">Obrisi</a></td>
            <td><a href="/student/dodajstudentaforma?studentID=@item.ID" class="btn btn-dark" style="text-decoration: none; color: azure;">Edit</a></td>

        </tr>
        }
    </tbody>
</table>
<a href="/student" style="text-decoration: none; color: blueviolet;font-size: 20px">  << Vrati se na početnu</a>
